@import "base";
@import "compass/css3";

$im: !important;

a { color: #000 $im; }
a:hover { text-decoration: underline $im; }

#grabr-header { position: fixed; height: 70px; background-color: rgba(255,255,255,0.95); width: 100%; z-index: 110002; top: 0; text-align: left $im; font: { size: 12px; family: Helvetica, Arial, sans-serif; }
	@include box-shadow(0 0 7px #bbb);
	#grabr-logo { margin: 17px 20px; width: 117px; height: (76px / 2); background: transparent url('logo.png') 0 0 no-repeat; float: left; }
	#grabr-notices-details { height: 70px; text-align: right;
		span { font-size: 20px; font-weight: bold; color: rgba(0,0,0,0.3); padding: 23px; display: inline-block;
			&.details { color: rgba(0,0,0,0.6); cursor: pointer;
				&:hover { color: rgba(0,0,0,0.8); } } } }
	#grabr-notices, #grabr-links { width: 480px; padding: 20px; background-color: #fff; position: fixed; right: 0; top: 70px; @include box-shadow(0 0 7px #bbb); display: none; text-align: left; max-height: 500px; overflow-x: hidden; }
	#hide-shadow { width: 540px; height: 12px; background-color: #fff; position: fixed; top: 70 - 12px; right: -20px; z-index: 10; }
	#grabr-colors { margin: 22px 50px; float: left; }
	.grabr-bg-color { width: 26px; height: 26px; @include box-shadow(0 0 5px #ddd); background-color: #aaa; margin: 0 0 0 10px; float: left; 
		&:first-child { background-color: #fff; } 
		&:last-child { background-color: #000; } } }

#grabr-screen { position: fixed; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(255,255,255,0.95); z-index: 110000; }

#grabr-img-tot { font: { size: 25px; weight: bold; family: Helvetica, Arial, sans-serif; } margin: 20px; }

#grabr-images { position: absolute; top: 100px; left: 0; width: 100%; z-index: 110001; text-align: left $im;
	.grabr-image-area { clear: both; } 
 	.grabr-image { margin: 20px 0 0 20px; padding: 2px; border: 1px solid #bbb; text-align: left; }
	.grabr-detail-table { background-color: #333; color: #fff; width: 1000px; margin: 0 0 50px 20px; border: 1px solid #bbb;
		a { color: #fff $im; }
		td, th { padding: 2px 7px; text-align: left $im; vertical-align: top; font-size: 11px $im;
			&.grabr-wide-col { width: 300px; } } }
}